<section style="margin: 20px">
  <h4> CODE OF CONDUCT </h4>
  Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, race, religion, etc.. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without recompense at the discretion of the conference organisers. <a href="CoC.html">See the full version here</a>.
</section>

<footer class="footer">
    <div>&copy; OWASP {{ site.title }}</div>
    <div>AppSec Israel is an <a href="https://www.owasp.org/">OWASP conference</a>, hosted by <a href="https://www.owasp.org/index.php/Israel">OWASP Israel Chapter</a>.
</footer>
