---
---

@import "reset.css";

$light: #2bb4d3;
$medium: #055078;
$dark: #152f30;

body {
  font-family: 'Exo 2', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $light;
}

a:hover {
  text-decoration: underline;
  color: $dark;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0.25em 0em 0.75em 0em;
  font-weight: 200;
  line-height: 1em;

  sub {
    text-transform: none;
    font-size: 75%;
  }
}

h1 {
  font-size: 337.5%;
  em {
    text-transform: none;
  }
}

h2 {
  font-size: 275%;
}

h3 {
  font-size: 200%;
}

h4 {
  font-size: 110%;
}

p {
  margin-bottom: 1em;
}

button {
  border-radius: 0.8em;
  height: 1.6em;
  border: none;
  padding: 0em 1em;
  text-transform: uppercase;
  font-family: 'Montserrat';
  background: $light;
  color: #fff;
  font-weight: 400;
  font-size: 87.5%;

  &.dark {
    background: $medium;
  }
}

#counter {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Montserrat;
  div {
    border-radius: 50%;
    background-color: $light;
    width: 4em;
    height: 4em;
    text-align: center;
    padding-top: 1em;
    display: inline-block;
    position: relative;
    margin-right: 1em;
    margin-top: 2em;
  }
  div::before {
    content: attr(data-content);
    font-weight: 200;
    color: #fff;
    font-size: 200%;
  }
  div::after {
    font-size: 75%;
    content: attr(data-label);
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 6em;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    color: $medium;
  }
  div:nth-child(1) {
    background-color: $medium;
  }
}

header {
  position: relative;
  .top {
    height: 10em;
    .logo {
      position: absolute;
      top: 0;
      left: 1em;
      width: 20em;
      height: 10em;
      background: url(../img/AppSecIL_logo.png) 120% 45% no-repeat;
      background-size: auto 63%;
    }
  }
  nav {
    background: rgba(4, 11, 13, 0.5);
    display: block;
    height: 2.5em;
    margin-bottom: -2.5em;
    position: relative;
    z-index: 5;
    font-size: 87.5%;

    ul {
      float: right;
    }
    a {
      color: #fff;
      text-transform: uppercase;
      padding: 0em 1em;
      border-radius: 0.8em;
      height: 2.5em;
      &:hover {
        background: #fff;
        color: $medium;
      }
      &:active {
        background: $light;

      }
    }
  }
}

.main {
  min-height: 20em;
  line-height: 1.25em;

  section {
    padding: 2em 4em;

    div {
      background: $medium;
      margin-bottom: 10px;
      
      hr {
        border-width: 2px;
        border-color:#000;
      }

    }

    &.inverse {
      background-color: $medium;
      color: #fff;

      button.dark {
        background: #fff;
        color: $medium;
      }
    }

    &:first-of-type {
      border-top: 2.5em solid $medium;
    }

    &.img {
      color: #fff;
      border-top: none;
      background-size: cover;
      background-position: top left;

      padding: 4.5em 4em;
      width: 100%;
      height: 100%;
      //background: rgba(0,92,100,0.5);
      background-position: bottom right, bottom right, top left;
      background-repeat: no-repeat, repeat-y, no-repeat;
      background-size: 33% auto, cover, cover;
      background-blend-mode: normal, multiply, normal;
    }
  }

  ul {
    list-style: disc;
    margin: 0.5em 1.5em;
  }

  ul.team-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 1em 0em;
    justify-content: flex-start;

    > li {
      max-width: 50%;
      width: 200px;
      text-align: center;
      padding-bottom: 1em;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }

      span {
        display: block;
      }
    }
  }

}

footer {

  background: $medium;
  color: #fff;
  text-align: center;
  padding: 1em;
}

@media (max-width: 500px) {
  body {
    font-size: 90%;
  }

  header {
    .top {
      height: 5em;
      .logo {
        width: 10em;
        height: 5em;
      }
    }
  }
  #counter {
    display: none;
  }
  .main {
    section {
      padding: 1em 1em;

      &.img {
        padding: 2.5em 2em;
      }
    }
  }
}

.sponsor-tier {
    text-align: center;
    padding-bottom: 40px;
}

.sponsor {
    margin: 3px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-color: whitesmoke;
  
    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
    
    img:hover {
      box-shadow: 0 0 5px 5px rgba(255, 255, 255, 5);
    }
}
.sponsor:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 5);
}

.diamond-sponsor {
  width: 500px;
  height: 200px;
  line-height: 190px;
  border: 5px solid #b9f2ff;    
}

.platinum-sponsor {
  width: 450px;
  height: 200px;
  line-height: 190px;
  border: 5px solid #e5e4e2;
}

.gold-sponsor {
  width: 375px;
  height: 150px;
  line-height: 140px;
  border: 5px solid gold;
}

.training-sponsor {
  width: 375px;
  height: 150px;
  line-height: 140px;
  border: 5px solid purple;
}

.silver-sponsor {
  width: 280px;
  height: 112px;
  line-height: 104px;
  border: 4px solid silver;
}

.community-sponsor {
  width: 180px;
  height: 80px;
  line-height: 74px;  
  border: 3px solid black;
}

.alacarte-sponsor {
  width: 180px;
  height: 136px;
  text-align: center;
  padding-top: 6px; 
  border: 3px solid black;
  
  span {
    font-size: 1.5em; 
    font-family: sans-serif; 
    line-height: 1.3; 
    color: black;
    vertical-align: middle;
  }
  
  hr {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  a {
    line-height: 70px;
    
  }
  
  img {
    max-height: 80px;
    border: 2px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
  img {
    border: 2px solid black;
  }
  
}
